<nav>
    <ul class="list-group">
        <li class="list-group-item"><a href="/">Home</a></li>
        <li class="list-group-item"><a href="/profile/">My profile</a></li>
        <li class="list-group-item"><a href="/notifications">Notifications</a></li>
        <li class="list-group-item"><a href="/favorite/get-all/">My favorite users</a></li>
        <li class="list-group-item">
            <form action="/auth/logout" method="post" style="display: inline;"><button
                    class="btn btn-primary" type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>